.Login{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
} 
.LoginBox{
 margin-top: 80px;
 width:350px;
 height: 300px;
 background-color: rgb(122, 41, 74);
}
.LoginBox:hover{
  background-color: rgb(221, 50, 112);
}
.LoginHeader{display:flex;
 justify-content: center;
 align-items: center; 
 font-weight: bolder;
 font-size: xx-large
}
.input{
  padding:20px;
}
.email{
  width:100%;
  height:40px;
  border-radius: 6px;
  border-width: 1;
  margin-bottom: 20px;
}
.password{
  width:100%;
  height:40px;
  border-radius: 6px;
  border-width: 1;
}
.submitbutton{
 width:100px;
 height:30px;
 background-color:cornflowerblue;
 color:white;
 border-radius: 7px;
}
.submitbutton:hover{
  background-color: rgb(43, 34, 143);
  color:black;
}
.color{
  background-color: coral;
  height:2000px;
  width:800px;
}